<%- include('includes/head')%>

<body>

  <section class="container">
    <h1>
      <% if(typeof titulo!=='undefined'){ %>
          <%= titulo %>
        <% } else {%>
          O Título não foi enviado,
          <% } %>
    </h1>
    <h1>
      <% numeros.forEach(num => { %>
      <%= num %><br>
      <% }); %>
    </h1>
    <form>
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>
  

  <script src="./assets/js/bundle.js"></script>
</body>

</html>